.wn-ts-dropbtn {
    background-color: white;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
    transition: all .25s ease-in-out;
}

.wn-ts-dropup {
    position: relative;
    display: inline-block;
    transition: all .5s ease-in-out;
}

.wn-ts-dropup-content {
    max-height: 0px;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    bottom: 50px;
    z-index: 1000;
    overflow: hidden;
    transition: all .5s ease-in-out;
}

.wn-ts-dropup-content a {
    color: black!important;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: all .25s ease-in-out;
}

.wn-ts-dropup-content a:hover {
    background-color: #ccc
}

.wn-ts-dropup:hover .wn-ts-dropup-content {
    max-height: 1000px;
}

.wn-ts-dropup:hover .wn-ts-dropbtn {
    background-color: #fafafa;
    box-shadow: 0 4px 4px 0 rgb(0 0 0 / 08%), 0 5px 2px -1px rgb(0 0 0 / 8%), 0 3px 8px 0 rgb(0 0 0 / 10%);
}
