.wn-ts-dropbtn {
    background-color: white;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    transition: all .25s ease-in-out;
}

.wn-ts-dropup {
    position: relative;
    display: inline-block;
    transition: all .5s ease-in-out;
}

.wn-ts-dropup-content {
    max-height: 0px;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    bottom: 50px;
    z-index: 1;
    overflow: hidden;
    transition: all .5s ease-in-out;
}

.wn-ts-dropup-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: all .25s ease-in-out;
}

.wn-ts-dropup-content a:hover {
    background-color: #ccc
}

.wn-ts-dropup:hover .wn-ts-dropup-content {
    max-height: 1000px;
}

.wn-ts-dropup:hover .wn-ts-dropbtn {
    background-color: #fafafa;
}